<html>
<head></head>
<body>
<% if guess.to_i == secret_number || params["cheat"] %>
  <p>The SECRET NUMBER is <%= secret_number %></p>
<form method="post">
  <input type='submit' value='New Game!' />
</form>
    <% end %>
<% if params["guess"] %>
  <p>You guessed: <%= guess %></p>
    <% end %>
<h1><%= message %></h1>
<form>
  <input type='text' name='guess' />
  <input type='submit' value='Guess!' />
</form>
</body>
</html>
